DEPLOYER_PRIVATE_KEY=0x

# RPC URLs
REAL_RPC_URL="https://base.llamarpc.com"
POLYGON_RPC_URL="https://polygon-rpc.com"
ARBITRUM_RPC_URL="https://arb1.arbitrum.io/rpc"

# Testnet RPC URLs
UNREAL_RPC_URL="https://rpc.unreal.gelato.digital"
MUMBAI_RPC_URL="https://rpc.ankr.com/polygon_mumbai"
GOERLI_RPC_URL="https://rpc.ankr.com/eth_goerli"

# Etherscan API keys
ETHERSCAN_MAINNET_KEY=
ETHERSCAN_POLYGON_KEY=
ETHERSCAN_ARBITRUM_KEY=
